<html>
<head>
<title>{{title}}</title> <!--서버 함수에서 인자값으로 보내줌 : 변수 값 찍기-->
</head>

<body>
    <!-- ui, oi 은 리스트를 표현하는 태그-->
    <!-- li는 그 리스트의 하나 하나 데이터를 표현하는 태그 -->
    <ul>
        {% for team in teams : %}
            <li>{{team}}</li>
         <!--반복문의 끝을 알려주기 위해 endfor 추가-->
        {% endfor %}
    </ul>
  {#진자의 주석#}
 {#{% for team in teams : %} #}
<!--반복문의 끝을 알려주기 위해 endfor 추가-->
{#{% endfor %}#}


    <table border='1' cellspacing='0'>
        <thead>
            <tr>
                <th>순서</th>
                <th>2018러시아 월드컵 4강팀</th>
            </tr>
        </thead>
        <tbody>
            {%for team in teams : %}
            {# 변수는 제어문에서 생성하거나, 렌더링 시에 전달하거나 둘 중 한경우만 가능 #}
            <tr> 
             <!--한칸 추가--> 
                <td>{{team['rank']}}</td>
                <td>{{team['team']}}</td> 
            </tr>           
            {%endfor%}
            <!-- <tr> row 한줄 추가
            </tr> -->
        </tbody>
    </table>
</body>
</html>