<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Can I eat?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/jingyeong/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<div class="content">
						<h1>CAN I EAT?</h1>
						<h2>WELCOME TO WEBSITE.<br />
						This Website make you healthy</h2>
						<a href="#" class="button big alt"><span>Let's Go</span></a>
					</div>
					<a href="#" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<div class="inner">
					<div class="columns">

						<!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<img src="../static/jingyeong/images/s1.png" alt="" />
							</div>
							<div class="image fit">
								<a href="{{url_for('homebp.main')}}"><img src="../static/jingyeong/images/home.png" alt="" /></a>
							</div>
							
							
						<!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
						<div class="image fit">
							<a href="{{url_for('userbp.signup')}}"><img src="../static/jingyeong/images/signup.png" alt="" /></a>
						</div>
							<div class="image fit">
								<img src="../static/jingyeong/images/s2.png" alt="" /> </div>
							<div></div>

						<!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
						<div class="image fit">
							<img src="../static/jingyeong/images/s3.png" alt="" />
						</div>
						<div class="image fit">
							<a href="{{url_for('userbp.login')}}"><img src="../static/jingyeong/images/login.png" alt="" /></a>
						</div>
						<!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
						
							
							<div class="image fit">
								<img src="../static/jingyeong/images/contact.png" alt="" /></a>
							</div>
							
							<div class="image fit">
								<img src="../static/jingyeong/images/s4.png" alt="" />
							</div>
					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
						<h3>can I eat?</h3>
						<p>we like your review</p>
					</div>
					
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/jingyeong/assets/js/jquery.min.js"></script>
			<script src="/static/jingyeong/assets/js/skel.min.js"></script>
			<script src="/static/jingyeong/assets/js/util.js"></script>
			<script src="/static/jingyeong/assets/js/main.js"></script>

	</body>
</html>