<!DOCTYPE html>
<html lang="ko">
<head>
    <title>프로필 수정</title>
</head>
<body>
    <div>
        <form action ="{{url_for('mybp.mypage')}}" method='post'>
            <fieldset>
                <legend>프로필 수정</legend>
                <table border="0" class="tbl_model">
                    <colgroup>
                        <col style="width:22%"><col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <div class="tdcell">
                                    <div class="profile_photo">
                                        <img src="static/changhun/img/user.png" width="100" height="100">
                                        <span class="mask"></span>
                                    </div>
                                    <div class="btn_area_btm">
                                        <span class="btn_file">
                                            <label for="inputImage" class="btn_model"><b class="btn2" onclick="clickcr(this,'prf.upimg','','',event);">사진변경</b></label>
                                            <input type="file" name="profileImage" accept="image/*">
                                        </span>
                                    </div>
                                    </div>
                                        <a href="javascript:;" class="btn_model"><b class="btn2 btn_disable" onclick="clickcr(this,'prf.delimg','','',event);">삭제</b></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <table>
                        <tr>
                            <td>
                                이름<INPUT TYPE="text" name="name" SIZE=10><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                나이 : <INPUT TYPE="text" name="age" SIZE=10> <br>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                성별: 
                                
                                <input type="radio" name="gender" value="F" checked="checked"><label for="gender">여성</label>
                                
                                <input type="radio" name="gender" value="M"><label for="gender">남성</label>
                            </td>
                        </tr>
                    </table>
                        <tr>
                            <td>
                                키 : <INPUT TYPE="text" NAME="height" SIZE=10><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                몸무게 : <INPUT TYPE="text" NAME="weight" SIZE=10><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" onclick="modifyconfirm()" value="제출">
                <input type="submit" name="cancelProfile" onclick="cancel()" value="취소">
                
                <script>
                function modifyconfirm(){
                    if(confirm('수정 하시겠습니까?')){
                        document.botton.submit();
                    }
                }
                
                function cancel() {
                        window.history.back();
                        }
                </script>                
        </form>
    </div>  
</body>
</html>